body{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

h1{
    font-size: 90%;
}

table{
    margin: auto;
    margin-top: 60px;
    width:300px;
}

a{
    margin-top: 60px;
}

td{
    background-color: #d4d4d4;
}

.grayout{
    background-color: rgb(0, 0, 0);
}